
@keyframes go {
	0% {
		translate: 0px 0px;
	}
	100% {
		translate: 2000px 0px;
	}
}
@keyframes run-right-width {
	0% {
		transform: translateX(-100%) scale(-1, 1);
		bottom: 35%;
		width: 150px;
		height: 200px;
	}
	100% {
		transform: translateX(1200%) scale(-1, 1);
		bottom: 35%;
		width: 150px;
		height: 200px;
	}
}

@keyframes run-left-width {
	0% {
		transform: translateX(1200%) scale(1, 1);
		bottom: 35%;
		width: 150px;
		height: 200px;
	}
	100% {
		transform: translateX(0px) scale(1, 1);
		bottom: 35%;
		width: 150px;
		height: 200px;
	}
}

@keyframes run-right {
	0% {
		transform: translateX(-100%) scale(-1, 1);
	}
	100% {
		transform: translateX(1000%) scale(-1, 1);
	}
}

@keyframes run-left {
	0% {
		transform: translateX(1000%) scale(1, 1);
	}
	100% {
		transform: translateX(0px) scale(1, 1);
	}
}
@keyframes end-zomby {
	0% {
		transform: translateX(1000%) scale(1, 1);
		bottom: 0;
	}
	50% {
		transform: translateX(1200px) scale(1, 1);
		bottom: 0;
	}
	100% {
		transform: translateX(1700px) scale(1, 1) rotate(270deg);
		bottom: -15%;
	}
}

@keyframes shegi-run {
	0% {
		transform: translateX(0px);
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: translateX(-200%);
	}
}
@keyframes scoby-run {
	0% {
		transform: translateX(0px);
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: translateX(400%);
	}
}

@keyframes scoby-opasity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

@keyframes men-run {
	0% {
		transform: translateX(0px);
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: scale(10);
	}
}
@keyframes run-image {
	0% {
		background-position: 0px 0px;
		background-size: 500px 900px;
	}
	100% {
		background-size: 500px 900px;
		background-position: -100% 0;
	}
}
@keyframes none-image {
	0% {
		display: none;
	}
	100% {
		display: none;
	}
}
@keyframes car-run {
	0% {
		transform: translateX(-100%);
	}
	25% {
		transform: translateX(200%);
	}
	50% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(75%);
	}
}
@keyframes glass {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(120px);
	}
	80% {
		transform: translatey(120px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		bottom: 5px;
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes light {
	0% {
		box-shadow: 30px 10px 50px rgb(226, 226, 10);
	}
	100% {
		box-shadow: 30px 10px 50px rgb(226, 226, 10);
	}
}

@keyframes boom {
	0% {
		transform: scale(0);
		opacity: 0.2;

	}
	100% {
		transform: scale(20);
		opacity: 0.9;
	}
}
