/* підключення шрифтів локально */

@font-face {
	font-family:"ProximaNova";
	src: url("../fonts/ProximaNova-Regular.woff2") format("woff2");
	src: url("../fonts/ProximaNova-Regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family:"ProximaNova";
	src: url("../fonts/ProximaNova-Light.woff2") format("woff2"); 
	src: url("../fonts/ProximaNova-Light.woff") format("woff"); 
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family:"ProximaNova";
	src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"); 
	src: url("../fonts/ProximaNova-Semibold.woff") format("woff"); 
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family:"IntegralCF";
	src: url("../fonts/IntegralCF-Bold.woff2") format("woff2"); 
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family:"Satoshi";
	src: url("../fonts/Satoshi-Bold.woff2") format("woff2"); 
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}


