@charset "UTF-8";
/* Підключення шрифтів */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,regular,500,700&display=swap");
@font-face {
  font-family: "IntegralCF";
  src: url("../fonts/IntegralCF-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Medium.woff2") format("woff2");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
/* Скидання стилів */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  background-color: rgb(231, 217, 198);
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 79.375rem;
  padding: 0 0.9375rem;
  margin: 0px auto;
}

.header {
  text-align: center;
  margin-bottom: 1.25rem;
}
.header__title {
  font-size: 3.75rem;
  font-weight: 600;
}

.page__container {
  padding: 1.875rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25rem;
}
.task-blok {
  border-radius: 1.25rem;
  border: 0.1875rem solid;
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25rem;
  font-size: 1.125rem;
}
.task-blok__title {
  font-size: 2.25rem;
}
.task-blok__question {
  font-size: 1.5rem;
}
.task-blok__item {
  list-style-type: style;
  margin-left: 1.25rem;
}
.task-blok__answer {
  color: brown;
}