/* Підключення шрифтів */
@import url(fonts.css);

/* Скидання стилів */
@import url(reset.css);
.wrapper {
	min-height: 100%;
	overflow: clip;
	/* overflow: hidden; не працює position */
	padding: 20px;
}

.blok {
	margin-bottom: 50px;
	border: 1px solid;

}

.header {
	background: forestgreen;
	padding: 15px;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	margin-bottom: 50px;

}

.menu {}

.menu__list {
	font-size: 0;
}

.menu__item {
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.menu__item:not(:last-child) {
	margin-right: 10px;
	margin-bottom: 10px;
}

.menu__link {
	background-color: blueviolet;
	padding: 5px 10px;
}
.menu__link:hover {
	text-decoration: underline;
}
.menu__item:hover .sub-munu {
	display: block;
}
.menu__item:hover .menu__link {
	background-color: chocolate;
}

.sub-munu {
	position: absolute;
	left: 0;
	top: 100%;
	background-color: chocolate;
	padding: 10px;
	z-index: 4;
	width: 100%;
	min-width: 90px;
	display: none;
}


.sub-munu__list {}

.sub-munu__item {
}
.sub-munu__item:not(:last-child) {
	margin-bottom: 5px;
}

.sub-menu__link {
	font-size: 12px;
}

.list {
}
.list__item {
	position: relative;
	padding-left: 45px;
	z-index: 3;
}

.list__item:not(:last-child) {
	margin-bottom: 10px;
	line-height: 1.2;
}
.list__item::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	background: url(../img/arrow.svg) 0 0 / 100% no-repeat;
	width: 30px;
	height: 30px;
	transition: all 0.2s;
}
.list__item:hover::before {
	transform: rotate(-180deg);
}

.main {
	position: relative;
}
.decor {
	position: absolute;
	top: 20%;
	right: 0;
	width: 49%;
	opacity: 0.4;
}

.blok__item {
	color: aliceblue;
	text-transform: uppercase;
	text-align: center;
	padding: 20px;
	
}

.blok__item:nth-child(1){
	background-color: rgb(116, 31, 196);
}


.blok__item:nth-child(2) {
	background-color: rgb(3, 92, 80);
}

.blok__item:nth-child(3) {
	background-color: rgb(155, 77, 22);
}

.blok__item:nth-child(2) {
	position: relative;
	top: 20px;
	/* top: -20px; */
	left: 20px;
	/* left: -20px; */

}

.blok-index-relative {
	border: 1px solid;
	margin-bottom: 50px;
}
.blok-index-relative__item {
	color: aliceblue;
	text-transform: uppercase;
	text-align: center;
	padding: 20px;
} 

.blok-index-relative__item:nth-child(1){
	background-color: rgb(116, 31, 196);
} 
.blok-index-relative__item:nth-child(2){
	background-color: rgb(3, 92, 80);
} 
.blok-index-relative__item:nth-child(3){
	background-color: rgb(155, 77, 22);
} 


.blok-index-relative__item:nth-child(2){
	position: relative;
	left: 20px;
	top: 20px;
	z-index: 2;
	
}
.blok-index-relative__item:nth-child(3){
position: relative;
z-index: 1;
}
.blok-index-relative__item:nth-child(1){
	position: relative;
	top: 40px;
}

.blok-absolut {
	border: 1px solid;
	position: relative;
	margin-bottom: 50px;
	/* min-height: 100px; */
}
.blokk-absolut__item {
	color: aliceblue;
	text-transform: uppercase;
	text-align: center;
	padding: 20px;
	
}
.blokk-absolut__item:nth-child(1){
	background-color: rgb(116, 31, 196);
}
.blokk-absolut__item:nth-child(2){
	background-color: rgb(3, 92, 80);
}
.blokk-absolut__item:nth-child(3){
	background-color: rgb(155, 77, 22);
}

.blokk-absolut__item:nth-child(2){
	position: absolute;
	left: 10%;
	/* left: 20px; */
	/* top: 10%; працює тілки після вказання висоти батьковському елементу */
	top: 20px;
	/* width: 100%; */
}

.blok-fixed {
	width: 300px;
	margin: 0 auto;
	border: 1px solid;
	position: relative;
	/* min-height: 100px; */
}
.blokk-fixed__item {
	color: aliceblue;
	text-transform: uppercase;
	text-align: center;
	padding: 20px;
	
}
.blokk-fixed__item:nth-child(1){
	background-color: rgb(116, 31, 196);
}
.blokk-fixed__item:nth-child(2){
	background-color: rgb(3, 92, 80);
}
.blokk-fixed__item:nth-child(3){
	background-color: rgb(155, 77, 22);
}
.blokk-fixed__item:nth-child(1){
	position: sticky;
	top: 100px;
}
.blokk-fixed__item:nth-child(2){
	position: fixed;
	bottom: 0;
	right: 20px;
	border-radius: 50%;
	z-index: 5;
}

.blokk-fixed__item:nth-child(3){
	position: sticky;
	top: 100px;
}
