/* підключення шрифтів локально */
@font-face {
	font-family:"ProximaNova" ;
	src: url(../fonts/ProximaNova-Regular.woff2) format("woff2");
	src: url(../fonts/ProximaNova-Regular.woff) format("woff") ;
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family:"ProximaNova" ;
	src: url(../fonts/ProximaNova-Semibold.woff2) format("woff2"); 
	src: url(../fonts/ProximaNova-Semibold.woff) format("woff2");
	font-display: swap;
	font-weight: 600;
	font-style: normal;
}

/* підключення через google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')