/* Підключення шрифтів */
@import url(fonts.css);

/* Скидання стилів */
@import url(reset.css);

body {
	font-family: "ProximaNova", sans-serif;
	font-weight: 400;
	color: #2b2929;
}
.list-navigation{
	max-width: 1070px;
	font-size: 30px;
	font-weight: 600;
	color: red;
	margin: 0 auto;
}
.article {
	max-width: 1070px;
	margin: 0 auto;
	margin-bottom: 40px;
	padding-top: 40px;
}
.text-room {
	margin: 0 0 40px 0;
}
.text-room p {
	line-height: 1.875; /* 30/16 */
	margin-bottom: 30px;
}
.title-design {
	font-weight: 600;
	font-size: 40px;
	line-height: 1.2; /* 48/40 */
	margin-bottom: 40px;
}
.image-room {
	margin-bottom: 40px;
}
.subtitle-design {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.4; /* 28/20 */
	margin-bottom: 30px;
}

.list-desing {
	line-height: 1.875; /* 30/16 */
	padding-left: 55px;
	margin-bottom: 40px;
}
.list-desing li {
	padding-bottom: 20px;
}
.article p {
	line-height: 1.875; /* 30/16 */
}
/* Krovato it */
.section-krovato-it {
	background-color: #fafafa;
}
.blok-krovato-it {
	max-width: 1290px;
	margin: 0 auto;
	font-size: 0;
}
.title-krovato {
	font-weight: 600;
	font-size: 40px;
	line-height: 1.2;
	text-align: center;
	margin-bottom: 40px;
}

.column-production,
.column-choice,
.column-quality,
.column-professionals {
	font-size: 16px;
	max-width: 300px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	margin-left: 30px;
}
.column-production {
	margin-left: 0;
}
.column-production img,
.column-choice img,
.column-quality img,
.column-professionals img {
	max-width: 170px;
	margin-bottom: 20px;
}
.column-production h3,
.column-choice h3,
.column-quality h3,
.column-professionals h3 {
	font-weight: 600;
	font-size: 26px;
	margin-bottom: 20px;
}
.column-production p,
.column-choice p,
.column-quality p,
.column-professionals p {
	line-height: 1.87;
}

/*Follow products*/
.section-newsletter {
	padding-top: 100px;
	background-color: #fafafa;
}
.blok-newsletter {
	max-width: 1320px;
	font-family: "Roboto", sans-serif;
	font-size: 0;
	margin: 0 auto;
}
.title-follow {
	font-weight: 500;
	font-size: 50px;
	color: #000;
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 60px;
}
.items-foto-card img {
	max-width: 200px;
}

.image-card-1,
.image-card-2,
.image-card-3,
.image-card-4,
.image-card-5 {
	margin-left: 24px;
}
.top{
	display: block;
	max-width: 300px;
	font-size: 30px;
	color: rgb(20, 52, 147);
	margin: 0 auto;
}

